<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="number" name="name" id="name"><br/>
    <input type="text" name="doc" id="doc"><br/>
    <input type="text" name="about" id="about"><br/>
    <input type="text" name="site" id="site"><br/>
    <input type="checkbox" name="active" id="active"><br/>
    <input type="button" value="Cadastrar" onclick=clicar()><br/>
    <div id="texto"> </div>
    <script>
        function clicar(){
            var texto = document.querySelector("div#texto")
            var name = document.querySelector("input#name")
            var doc = document.querySelector("input#doc")
            var about = document.querySelector("input#about")
            var site = document.querySelector("input#site")
            var checkbox = document.querySelector("checkbox#active")
            var n = Number(name.value)
            texto.innerHTML = `${n}`
        }
    </script>
</body>
</html>