<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de empresas</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <style>
        body{
            font: normal 14pt Arial;
        }
        [name = "campo"]{
            font: normal 12pt Arial;
            width: 1000px;
        }
    </style>
</head>
<body>
    <h1><storng>Cadastro de empresas</storng></h1>
    Nome: <br/> <input type="text" name="campo" id="name"><br/>
    Doc:  <br/> <input type="text" name="campo" id="doc"><br/>
    Sobre:<br/> <input type="text" name="campo" id="about"><br/>
    Site: <br/><input type="text" name="campo" id="site"><br/>
    Ativo:<input type="checkbox" class ="check" id="active" value="true"><br/>
    <input type="button" value="Cadastrar" id="button"><br/>
    <div id="texto"> </div>
    <script>
        $("#button").on("click", function() {
            var texto = document.querySelector("#texto")
            var name_ = document.querySelector("#name")
            var doc_ = document.querySelector("#doc")
            var about_ = document.querySelector("#about")
            var site_ = document.querySelector("#site")
            var checkbox_ = document.querySelector("#active")
            var dados = {
                name: name_.value,
                doc: doc_.value,
                about: about_.value,
                site: site_.value,
                active: checkbox_.checked
            }
            
            $.ajax({
                url: "/api/company/",
                method: "POST",
                data: JSON.stringify(dados),
                success: function (response){
                texto.innerHTML = "Empresa cadastrada com sucesso."
                },
                error: function(){
                    texto.innerHTML = "Falha ao realizar o cadastro."
                }
            })
        })
    </script>
</body>
</html>